<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <div id="msg"></div>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    var apiKey = '<%= apiKey %>';
    var elem = document.getElementById('msg');
    Pusher.logToConsole = true;

    var pusher = new Pusher(apiKey, {
      cluster: 'ap2',
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function (data) {
      elem.innerHTML('New book added!');
      alert(JSON.stringify(data.data.data));
    });
  </script>
</head>
<body>
  <h1>Pusher Test</h1>
  <p>
    Try publishing an event to channel <code>my-channel</code> with event name
    <code>my-event</code>.
  </p>
</body>
